<%= javascript_include_tag "age.js" %>
<div class="body">
  <div class="div_center">
    <div class="div_bold">■性別・年齢別人口増減入力画面■</div><br/>
    <%= link_to "戻る", @event, :class=>'no_border_link' %><br/>
    <div><span class="div_bold">この年の人口増減を入力してください</span><br/>
    ※人口増減は棒グラフで表示されます。細かい値は気にせず入力してください
    </div>
    <br/>
    <table id="age_new_table" class="table_main inline-block head_color">
      <thead>
        <tr>
          <th class="td_w150">女性</th>
          <th class="td_w200">出生年|年齢</th>
          <th class="td_w150">男性</th>
        </tr>
      <tbody class="table_body">
        <tr>
          <td class=""><%= form.text_field :F1910, size: 10, :class=>'age_new_input' %></td>
          <td class="">～1910'/<%= controller.get_age(@event_year, nil, 1919) %>歳～</td>
          <td class=""><%= form.text_field :M1910, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1920, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1920'/<%= controller.get_age(@event_year, 1920, 1929) %>歳</td>
          <td class=""><%= form.text_field :M1920, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1930, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1930'/<%= controller.get_age(@event_year, 1930, 1939) %>歳</td>
          <td class=""><%= form.text_field :M1930, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1940, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1940'/<%= controller.get_age(@event_year, 1940, 1949) %>歳</td>
          <td class=""><%= form.text_field :M1940, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1950, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1950'/<%= controller.get_age(@event_year, 1950, 1959) %>歳</td>
          <td class=""><%= form.text_field :M1950, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1960, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1960'/<%= controller.get_age(@event_year, 1960, 1969) %>歳</td>
          <td class=""><%= form.text_field :M1960, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1970, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1970'/<%= controller.get_age(@event_year, 1970, 1979) %>歳</td>
          <td class=""><%= form.text_field :M1970, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1980, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1980'/<%= controller.get_age(@event_year, 1980, 1989) %>歳</td>
          <td class=""><%= form.text_field :M1980, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F1990, size: 10, :class=>'age_new_input'  %></td>
          <td class="">1990'/<%= controller.get_age(@event_year, 1990, 1999) %>歳</td>
          <td class=""><%= form.text_field :M1990, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F2000, size: 10, :class=>'age_new_input'  %></td>
          <td class="">2000'/<%= controller.get_age(@event_year, 2000, 2009) %>歳</td>
          <td class=""><%= form.text_field :M2000, size: 10, :class=>'age_new_input'  %></td>
        </tr>
        <tr>
          <td class=""><%= form.text_field :F2010, size: 10, :class=>'age_new_input'  %></td>
          <td class="">2010'/0歳～</td>
          <td class=""><%= form.text_field :M2010, size: 10, :class=>'age_new_input'  %></td>
        </tr>
    </table>
    <div>
      総人口増減:
      <input class="input_readonly right_margin" id="total_population" value="<%= @age_and_genders.total %>" readonly>
       計:
      <input class="input_readonly right_margin" id="total" value="" readonly>
       総人口増減との差:
      <input class="input_readonly" id="diff" value="" readonly>
    </div>
    <div>
      <%= form.submit value="確定", id: "suibmit_btn" %>
      <%= form.submit value="確定・総人口増減更新", id: "suibmit_btn_confirm", data: { confirm: "総人口増減を上書きます。よろしいですか?"} %>
    </div>
    <%= form.hidden_field :event_id, :value => @age_and_genders.event_id %>

    <br/>
    <div><span class="div_bold">前出来事(有効のみ)時点の人口</span>
    <br/>※該当イベントが無効状態の際は、正しい数値が表示されません</div>
    <table class="table_main inline-block head_color">
     <thead>
       <tr>
         <th class="td_w150">女性<span class="font_12"></span></th>
         <th class="td_w200">出生年</th>
         <th class="td_w150">男性<span class="font_12"></span></th>
       </tr>
     <tbody class="table_body">
       <tr>
         <td class="div_right"><%= @before_data["F1910"] %></td>
         <td class="">～1910'</td>
         <td class="div_right"><%= @before_data["M1910"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1920"] %></td>
         <td class="">1920'</td>
         <td class="div_right"><%= @before_data["M1920"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1930"] %></td>
         <td class="">1930'</td>
         <td class="div_right"><%= @before_data["M1930"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1940"] %></td>
         <td class="">1940'</td>
         <td class="div_right"><%= @before_data["M1940"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1950"] %></td>
         <td class="">1950'</td>
         <td class="div_right"><%= @before_data["M1950"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1960"] %></td>
         <td class="">1960'</td>
         <td class="div_right"><%= @before_data["M1960"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1970"] %></td>
         <td class="">1970'</td>
         <td class="div_right"><%= @before_data["M1970"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1980"] %></td>
         <td class="">1980'</td>
         <td class="div_right"><%= @before_data["M1980"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F1990"] %></td>
         <td class="">1990'</td>
         <td class="div_right"><%= @before_data["M1990"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F2000"] %></td>
         <td class="">2000'</td>
         <td class="div_right"><%= @before_data["M2000"] %></td>
       </tr>
       <tr>
         <td class="div_right"><%= @before_data["F2010"] %></td>
         <td class="">2010'</td>
         <td class="div_right"><%= @before_data["M2010"] %></td>
       </tr>
    </table>
  </div>
</div>
